<section class="flex items-center justify-center text-xl font-bold bg-red-100" style="height: 800px">Top</section>
<section class="flex items-center justify-center text-xl font-bold bg-yellow-100" style="height: 800px">Middle</section>
<section class="flex items-center justify-center text-xl font-bold bg-blue-100" style="height: 800px">Bottom</section>
